.item-container {
  background-color: #dadfe3;
  width: 90%;
  border-radius: 10px;
  padding: 10px;
  padding-left: 20px;
  margin-left: 10px;
  margin-top: 2px;
  display: flex;
  align-items: center;
}

.heading-item {
  color: #257ddb;
  font-size: 15px;
}
.box1 {
  width: 20%;
  max-width: 100px;
  overflow-x: auto;
}
.para1 {
  color: #27282e;
  font-size: 14px;
  font-weight: 500;
}

@media screen and (max-width: 778px) {
  .para1 {
    font-size: 8px;
  }
  .heading-item {
    font-size: 8px;
  }
}
